<%- include('partials/header'); %>
<header class="create">
  <a href="/" id="start-story" class="create__button">Refresh</a>
</header>
<center>
<center><h3> Generate Test Report </h3>
<form action="/generateCSV" method="get">
    <input type="submit" value="Generate"/>
</form></center>

<%- include('partials/footer'); %>

